<div fxLayout="column" fxLayoutAlign="center center">
  <mat-toolbar class="navbar-color">
    <mat-toolbar-row fxLayout="row" fxLayoutAlign="center center">
      <span class="example-spacer"></span>
      <span>Covid-19Cases</span>
    </mat-toolbar-row>

    <mat-toolbar-row fxLayout="column" fxLayoutAlign="center center">
      <ul fxLayout="row" fxLayoutAlign="center center">
        <li>home</li>
        <li>menu</li>
        <li>Info</li>
      </ul>

      <span class="example-spacer"></span>
    </mat-toolbar-row>
  </mat-toolbar>
</div>
<!-- </div> -->
